<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>隐患管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
    <style>
        .layui-layer-content {
            overflow: visible !important;
        }

        .layui-form-select dl {
            max-height: 200px;
        }

        .layui-form-checkbox {
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
            </div>
        </script>

        <table class="layui-hide" id="questionTable" lay-filter="questionTableFilter"></table>

        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

        <!--隐患类型新增、修改表单-->
        <form id="operateQuestion" class="layui-form" style="display: none">
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">隐患类型<span style="color: red"> *</span></label>
                <div class="layui-input-block" style="width: 300px;">
                    <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="请输入隐患类型"
                           placeholder="隐患类型"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">隐患流程<span style="color: red"> *</span></label>
                <div class="layui-input-block" style="width: 300px;">
                    <select class="layui-form-select" name="processId" id="processId" lay-verify="" lay-search>
                        <option value="" selected>请选择(可搜索)</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">类型说明<span>&nbsp;&nbsp;</span></label>
                <div class="layui-input-block" style="width: 300px;">
                    <input type="text" name="description" id="description" placeholder="类型说明" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 70px;margin-bottom: 12px">
                <div class="layui-input-block">
                    <button class="layui-btn" id="submit" style="padding: 0 20px" lay-submit="" lay-filter="operate">提交
                    </button>
                    <button type="reset" id="reset" style="visibility: hidden" class="layui-btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/url.js}"></script>
<script th:inline="none">
    layui.use(['form', 'table', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            from = layui.form;

        var currObj;
        var flag = 0;

        function initSelect() {
            $.ajax({
                url: basePath + "/process/getAllProcesses",    //后台数据请求地址
                type: "GET",
                success: function (result) {
                    $('#processId').empty();
                    $('#processId').append(new Option("请选择(可搜索)", ""));
                    for (var index = 0; index < result.length; index++) {
                        var dataTmp = result[index];
                        if (dataTmp.name === undefined) {
                            $('#processId').append(new Option("未命名(" + dataTmp.key + ",v" + dataTmp.version + ")", dataTmp.processDefinitionID));//往下拉菜单里添加元素
                        } else {
                            $('#processId').append(new Option(dataTmp.name + "(" + dataTmp.key + ",v" + dataTmp.version + ")", dataTmp.processDefinitionID));//往下拉菜单里添加元素
                        }
                    }
                    form.render();
                }
            });
        }

        initSelect();

        window.addEventListener("storage", function (e) {
            if (e.key == 'processSelect') {
                initSelect();
            }
        });

        var questionTable = table.render({
            elem: '#questionTable',
            url: basePath + '/question/getQuestion',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: "numbers", width: 50, fixed: 'left'},
                {field: 'name', title: '隐患类型', minWidth: 150},
                {field: 'description', title: '备注', minWidth: 350},
                {
                    field: 'process', title: '隐患处理流程', minWidth: 250, templet: function (d) {
                        if (d.processId == "" || d.processKey == null) {
                            return '<div>隐患处理流程不存在</div>';
                        } else {
                            if (d.processName == undefined) {
                                return '<div>未命名' + '(' + d.processKey + ',v' + d.processVersion + ')' + '</div>'
                            } else {
                                return '<div>' + d.processName + '(' + d.processKey + ',v' + d.processVersion + ')' + '</div>'
                            }
                        }
                    }
                },
                {
                    field: 'create', title: '创建时间', width: 160, sort: true, templet:
                        "<div>{{layui.util.toDateString(d.create, 'yyyy-MM-dd HH:mm:ss')}}</div>"
                },
                {
                    field: 'modify', title: '修改时间', width: 160, sort: true, templet:
                        "<div>{{layui.util.toDateString(d.modify, 'yyyy-MM-dd HH:mm:ss')}}</div>"
                },
                {title: '操作', minWidth: 130, toolbar: '#currentTableBar', align: "center", fixed: 'right'}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function (rest, curr) {
                if (curr > 1 && rest.data.length === 0) {
                    curr = curr - 1;
                    table.reload('questionTable', {
                        page: {
                            curr: curr
                        }
                    }, 'data');
                }
            }
        });


        /**
         * toolbar监听事件
         */
        table.on('toolbar(questionTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                flag = 0;
                var index = layer.open({
                    title: '添加隐患类型',
                    type: 1,
                    area: ['450px', '270px'],
                    content: $("#operateQuestion"),
                    cancel: function (layero, index) {
                        $("#reset").click();
                    }
                });
            }
        });

        table.on('tool(questionTableFilter)', function (obj) {
            currObj = obj;
            var data = obj.data;
            if (obj.event === 'edit') {
                //渲染数据
                $("#name").val(data.name);
                $("#description").val(data.description);
                if (data.processId !== "" && data.processKey !== undefined) {
                    $("#processId").val(data.processId);
                }
                form.render();
                flag = 1;
                var index = layer.open({
                    title: '修改隐患类型',
                    type: 1,
                    area: ['450px', '270px'],
                    content: $("#operateQuestion"),
                    cancel: function (layero, index) {
                        $("#reset").click();
                    }
                });
            } else if (obj.event === 'delete') {
                layer.confirm('你确定要删除该隐患类型吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "POST",
                        url: basePath + "/question/deleteQuestion",
                        data: {
                            id: data.id
                        },
                        success: function (result) {
                            if (result.code === 0) {
                                layer.msg("删除隐患类型成功！", {icon: 1});
                                localStorage.setItem('user', generateUUID());
                                questionTable.reload();
                            } else {
                                layer.msg(result.message, {icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误，请联系系统管理员', {icon: 2});
                        }
                    });
                    layer.close(index);
                });
            }
            return false;
        });

        //表单提交
        form.on('submit(operate)', function (data) {
            if ($("#processId").val() === "") {
                layer.msg("请选择隐患处理流程!", {icon: 2});
                return false;
            }
            //新增提交
            if (flag === 0) {
                $.ajax({
                    type: "POST",
                    url: basePath + "/question/addQuestion",
                    data: data.field,
                    success: function (result) {
                        if (result.code === 0) {
                            layer.closeAll();
                            $("#reset").click();
                            layer.msg("新增隐患类型成功！", {icon: 1});
                            localStorage.setItem('user', generateUUID());
                            questionTable.reload();
                        } else {
                            layer.msg(result.message, {icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员', {icon: 2});
                    }
                });
            }
            //修改提交
            else if (flag === 1) {
                $.ajax({
                    type: "POST",
                    url: basePath + "/question/updateQuestion",
                    data: {
                        id: currObj.data.id,
                        name: data.field.name,
                        description: data.field.description,
                        processId: data.field.processId
                    },
                    success: function (result) {
                        if (result.code === 0) {
                            layer.closeAll();
                            $("#reset").click();
                            layer.msg("修改隐患类型成功！", {icon: 1});
                            localStorage.setItem('user', generateUUID());
                            questionTable.reload();
                        } else {
                            layer.msg(result.message, {icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员', {icon: 2});
                    }
                });
            }
            return false;
        });
    });
</script>

</body>
</html>