<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>分步表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
    <style>
        .w-e-text-container{
            margin-left: 110px!important;
            height: 180px!important;
            z-index: 0!important;
        }
        .w-e-menu{
            z-index: 1!important;
        }
        img{
            width: 250px;
        }
        .layui-layer-wrap{
            margin-top: 30px!important;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote layui-text">
            注意：如果没有您想要创建的类型，请联系系统管理员授权
        </blockquote>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>创建隐患</legend>
        </fieldset>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">隐患名称:</label>
                <div class="layui-input-block">
                    <input type="text" name="name" placeholder="隐患名称" class="layui-input" lay-verify="required" lay-reqtext="请输入隐患名称" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">隐患类型:</label>
                <div class="layui-input-block">
                    <select id="questionType" name="typeId" lay-verify="required" lay-reqtext="请选择隐患类型" lay-filter="problemType">
                        <option value="" selected>请选择(可搜索)</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">优先级:</label>
                <div class="layui-input-block">
                    <select lay-verify="required" name="priority" lay-reqtext="请选择优先级">
                        <option value="1">低</option>
                        <option value="2" selected>中</option>
                        <option value="3">高</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item" id="variables"></div>
            <div class="layui-form-item">
                <label class="layui-form-label">隐患描述:</label>
                <div id="editor">
                    <p>隐患描述</p>
                </div>
            </div>
            <button class="layui-btn" style="margin-left: 110px" lay-submit lay-filter="commit">
                确认创建
            </button>
        </form>
    </div>
</div>

<div id="tip" style="text-align: center;margin-top: 90px;display: none">
    <i class="layui-icon layui-circle"
       style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
    <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
        创建成功
    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/js/url.js}"></script>
<script th:inline="javaScript">
    layui.use([ 'form', 'wangEditor', 'miniTab'], function () {
        var $ = layui.$,
            form = layui.form,
            wangEditor = layui.wangEditor,
            miniTab = layui.miniTab;

        $.ajax({
            url: basePath + "/question/getQuestionFilterByUser",    //后台数据请求地址
            type: "GET",
            success: function(result){
                for (var index = 0;index < result.length;index++){
                    var dataTmp = result[index];
                    $('#questionType').append(new Option(dataTmp.name,dataTmp.id));//往下拉菜单里添加元素
                }
                form.render();
            }
        });

        var editor = new wangEditor('#editor');
        editor.customConfig.showMenuTooltips = true;
        editor.customConfig.uploadImgServer = basePath + "/file/uploadFile";
        editor.customConfig.uploadFileName = 'file';
        editor.customConfig.pasteFilterStyle = false;
        editor.customConfig.uploadImgMaxLength = 5;
        editor.customConfig.uploadImgMaxSize = 10 * 1024 * 1024 // 10M
        editor.customConfig.uploadImgParams = {
            flag : 'remarks'
        };
        editor.customConfig.menus = [
            'head', 'bold', 'fontSize', 'italic', 'underline', 'strikeThrough', 'indent',
            'lineHeight', 'foreColor', 'backColor', 'link', 'list', 'todo', 'justify', 'quote', 'image',
            'table', 'code', 'splitLine', 'undo', 'redo'
        ];
        editor.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                if (result.code == 0) {
                    var data = result.data;
                    for (let i = 0; i < data.length; i++) {
                        insertImg(data[i].url);
                    }
                } else {
                    layer.msg(result.message,{icon : 2});
                }
            }
        };
        editor.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        editor.create();

        form.on('select(problemType)', function(data){
            if(data.value === "") {
                $("#variables").empty();
                return false;
            }
            $.ajax({
                type: "GET",
                url: basePath + "/task/getBeginVariable/" + data.value,
                success: function (result) {
                    $("#variables").empty();
                    for (var index = 0;index < result.length;index++){
                        var dataTmp = result[index];
                        //二元型流程变量
                        if(dataTmp.type === 1){
                            var input_html =
                                '<div class="layui-form-item">\n' +
                                '    <label class="layui-form-label">' + dataTmp.title + '</label>\n' +
                                '    <div class="layui-input-block">\n' +
                                '        <input type="radio" name="'+ dataTmp.name +'" value="1" title="'+ dataTmp.tip1 +'" checked="">\n' +
                                '        <input type="radio" name="'+ dataTmp.name +'" value="0" title="'+ dataTmp.tip0 +'">\n' +
                                '    </div>\n' +
                                '</div>';
                            $("#variables").append(input_html);
                            form.render();
                        }
                        //连续型流程变量
                        else if(dataTmp.type === 2){
                            var input_html =
                                '<div class="layui-form-item">\n' +
                                '   <label class="layui-form-label">'+ dataTmp.title + ':</label>\n' +
                                '   <div class="layui-input-block">\n' +
                                '       <input type="text" name="' + dataTmp.name + '" placeholder="' + dataTmp.title
                                + '" class="layui-input" lay-verify="required" lay-reqtext="请输入'+ dataTmp.title +'" />\n' +
                                '   </div>\n' +
                                '</div>';
                            $("#variables").append(input_html);
                        }
                    }
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员',{icon: 2});
                }
            });
        });

        form.on('submit(commit)', function (data) {
            $.ajax({
                type: "POST",
                url: basePath + "/task/createTask",
                data: {
                    name : data.field.name,
                    description : editor.txt.html(),
                    priority : data.field.priority,
                    typeId : data.field.typeId,
                    variables : data.field
                },
                success: function (result) {
                    if(result.code === 0){
                        localStorage.setItem('taskTable',generateUUID());
                        layer.open({
                            type: 1,
                            title:'创建成功',
                            area: '300px;',
                            shade: 0.8,
                            btn: ['再建一个', '不了谢谢'],
                            btnAlign: 'c',
                            moveType: 1, //拖拽模式，0或者1
                            content: $("#tip"),
                            yes: function (){
                                location.reload();
                            },
                            btn2: function (){
                                miniTab.deleteCurrentByIframe();
                            }
                        });
                    }
                    else{
                        layer.msg(result.message,{icon: 2});
                    }
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员',{icon: 2});
                }
            });
            return false;
        });
    })
</script>
</body>
</html>