<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
<link rel="stylesheet" th:href="@{/layuimini/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .layui-flow-more a cite{
        background-color: #19CAAD;
        color: white;
    }
    .layui-elem-quote{
        padding: 10px 15px 10px 15px;
    }
    .w-e-text-container{
        margin-left: 110px!important;
        height: 210px!important;
        z-index: 0!important;
    }
    .w-e-menu{
        z-index: 1!important;
    }
    body .btnStyle .layui-layer-btn a{background:#019688;border: #019688;padding: 4px 20px}
    .nameLink{
        cursor: pointer;
        color: #1E9FFF;
    }
    .nameLink:hover{
        color: #1aa094;
    }
    img{
        width: 250px;
        cursor: pointer;
    }
    a {
        color: #1E9FFF;
    }
    table ,table td, table th{
        border: 1px solid #999;
        border-spacing: 0;/*去掉单元格间隙*/
    }
    pre{
        background-color: #f1f1f1;
        border-radius: 3px;
        padding: 3px 5px;
        margin: 0 3px;
    }
    blockquote{
        display: block;
        border-left: 8px solid #d0e5f2;
        padding: 5px 10px;
        margin: 10px 0;
        line-height: 1.4;
        font-size: 100%;
        background-color: #f1f1f1;
    }
    .picture ol,.picture ul{
        margin: 10px 0 10px 20px;
    }
    .picture ol li,.w-e-text ol li{
        list-style-type: decimal;
    }
    .picture ul li,.w-e-text ul li{
        list-style-type: disc;
    }
    .userTipItem{
        margin-left: 50px;margin-top: 10px;margin-bottom: 10px;
        vertical-align: top;
    }
    .userTipIcon{
        color: grey;
        vertical-align: top;
        margin-top: 3px;
    }
    .userTipHr{
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
<body>
<div class="layui-col-md8">
    <div class="layuimini-container">
        <div class="layuimini-main layui-row">
            <div id="createUser"></div>
            <div id="title"></div>
            <div id="description" class="picture"></div>
            <div id="typeName"></div>
            <div id="priorityDiv"></div>
            <div>
                <button type="button" id="addRemarks" class="layui-btn layui-btn-normal">添加备注</button>
                <button type="button" id="editTaskBtn" class="layui-btn layui-btn-normal">修改隐患</button>
                <button type="button" id="editFile" class="layui-btn layui-btn-normal">上传附件</button>
            </div>
            <div id="btnBar"></div>
            <blockquote class="layui-elem-quote" style="margin-top: 10px">备注信息</blockquote>
            <ul class="flow-default picture" id="remarksFlow"></ul>
        </div>
    </div>
</div>
<div class="layui-col-md4">
    <div class="layuimini-container">
        <div class="layuimini-main">
            <blockquote class="layui-elem-quote">附件列表</blockquote>
            <ul class="flow-default" id="fileFlow"></ul>
        </div>
    </div>
</div>
<form id="operateTask" class="layui-form" style="display: none">
    <div class="layui-form-item" id="variables"></div>
    <div class="layui-form-item" style="margin-left: 70px">
        <div class="layui-input-block">
            <button class="layui-btn" id="submit" style="padding: 0 20px" lay-submit="" lay-filter="operate">提交
            </button>
            <button type="reset" id="reset" style="visibility: hidden" class="layui-btn">重置</button>
        </div>
    </div>
</form>
<from id="editTask" class="layui-form" style="display: none">
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">隐患名称<span style="color: red"> *</span></label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="请输入隐患名称" placeholder="隐患名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">隐患类型<span> &nbsp;</span></label>
                <div class="layui-input-block">
                    <input type="text" name="type" id="type" autocomplete="off" disabled class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">优先级:</label>
                <div class="layui-input-block">
                    <select lay-verify="required" name="priority" id="priority" lay-reqtext="请选择优先级">
                        <option value="1">低</option>
                        <option value="2">中</option>
                        <option value="3">高</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">隐患描述<span> &nbsp;</span></label>
                <div id="editorTask">
                    <p>隐患描述</p>
                </div>
            </div>
        </div>
    </div>
</from>

<from id="remarksForm" class="layui-form" style="display: none">
    <div class="layuimini-container">
        <div class="layuimini-main">
            <div class="layui-form-item">
                <label class="layui-form-label">备注信息<span> &nbsp;</span></label>
                <div id="editorRemarks">
                </div>
            </div>
        </div>
    </div>
</from>
<div id="userTip" style="display: none">
    <div class="userTipItem">
        <i class="fa fa-user-o userTipIcon"></i>
        <div id="userTipName" style="display: inline-block;margin-left: 10px">
        </div>
    </div>
    <hr class="userTipHr">
    <div class="userTipItem">
        <i class="fa fa-address-book-o userTipIcon"></i>
        <div id="userTipRole" style="display: inline-block;margin-left: 10px">
        </div>
    </div>
    <hr class="userTipHr">
    <div class="userTipItem">
        <i class="fa fa-envelope-o userTipIcon"></i>
        <div id="userTipEmail" style="display: inline-block;margin-left: 10px">
        </div>
    </div>
    <hr class="userTipHr">
    <div class="userTipItem">
        <i class="fa fa-phone userTipIcon"></i>
        <div id="userTipPhone" style="display: inline-block;margin-left: 10px">
        </div>
    </div>
    <hr class="userTipHr">
    <div class="userTipItem">
        <i class="fa fa-pencil-square-o userTipIcon"></i>
        <div id="userTipRemark" style="display: inline-block;margin-left: 10px;margin-right: 10px;width: 200px">
        </div>
    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script th:src="@{/layuimini/js/lay-config.js}" charset="utf-8"></script>
<script th:src="@{/js/url.js}"></script>
<script th:inline="javascript">
    var initData;
    var currTaskId;
    var form;
    var layerIndex;
    var remarksList = new Array();
    var remarksEditer;

    layui.use(['form', 'table', 'flow', 'wangEditor', 'upload'], function () {
        form = layui.form;
        var $ = layui.$;
        var flow = layui.flow,
            wangEditor = layui.wangEditor,
            upload = layui.upload;
        var taskEditer;

        $.ajax({
            url: basePath + "/task/getDetailTask/" + [[${problemId}]],
            type: "GET",
            success: function(result){
                var data = result.data;
                //保存任务相关的数据
                initData = data.task;
                for (var index = 0;index < initData.length;index++){
                    var dataTmp = initData[index];
                    $("#btnBar").append('<button type="button" onclick="task()" value="' + index + '">'+ dataTmp.taskName+'</button>');
                }
                $("#createUser").html(data.problem.username);
                $("#title").html(data.problem.name);
                $("#description").html(data.problem.description);
                $("#typeName").html(data.problem.typeName);
                $("#priorityDiv").html(data.problem.priority);
            }
        });

        flow.load({
            elem: '#fileFlow' //流加载容器
            ,scrollElem: '#fileFlow' //滚动条所在元素，一般不用填，此处只是演示需要。
            ,isAuto: false
            ,isLazyimg: true
            ,done: function(page, next){ //加载下一页
                //模拟插入
                setTimeout(function(){
                    var lis = [];
                    for(var i = 0; i < 4; i++){
                        lis.push('<li><span>123</span></li>')
                    }
                    next(lis.join(''), page < 1); //假设总页数为 6
                }, 500);
            },
            skin: 'btnStyle'
        });

        flow.load({
            elem: '#remarksFlow' //流加载容器
            ,scrollElem: '#remarksFlow' //滚动条所在元素，一般不用填，此处只是演示需要。
            ,isAuto: false
            ,isLazyimg: true
            ,done: function(page, next){ //加载下一页
                $.ajax({
                    url: basePath + "/task/getRemarks/" + [[${problemId}]] + "/" + page + "/4",    //后台数据请求地址
                    type: "GET",
                    success: function(result){
                        var data = result.data;
                        var pageSize = Math.ceil(result.count / 4);
                        var lis = [];
                        for (let i = 0; i < data.length; i++) {
                            lis.push(createRemarksDiv(data[i]));
                        }
                        next(lis.join(''), page < pageSize);
                    }
                });
            },
            skin: 'btnStyle'
        });

        upload.render({
            elem: '#editFile',
            url: 'https://httpbin.org/post',
            accept: 'file',
            done: function(res){
                layer.msg('上传成功');
            }
        });

        var taskEditer = new wangEditor('#editorTask');
        taskEditer.customConfig.showMenuTooltips = true;
        taskEditer.customConfig.uploadImgServer = basePath + "/file/uploadFile";
        taskEditer.customConfig.uploadFileName = 'files';
        taskEditer.customConfig.pasteFilterStyle = false;
        taskEditer.customConfig.uploadImgMaxLength = 5;
        taskEditer.customConfig.uploadImgMaxSize = 10 * 1024 * 1024 // 10M
        taskEditer.customConfig.uploadImgParams = {
            flag : 'remarks'
        };
        taskEditer.customConfig.menus = [
            'head', 'bold', 'fontSize', 'italic', 'underline', 'strikeThrough', 'indent',
            'lineHeight', 'foreColor', 'backColor', 'link', 'list', 'todo', 'justify', 'quote', 'image',
            'table', 'code', 'splitLine', 'undo', 'redo'
        ];
        taskEditer.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                if (result.code == 0) {
                    var data = result.data;
                    for (let i = 0; i < data.length; i++) {
                        insertImg(data[i].url);
                    }
                } else {
                    layer.msg(result.message,{icon : 2});
                }
            }
        };
        taskEditer.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        taskEditer.create();

        remarksEditer = new wangEditor('#editorRemarks');
        remarksEditer.customConfig.showMenuTooltips = true;
        remarksEditer.customConfig.uploadImgServer = basePath + "/file/uploadFile";
        remarksEditer.customConfig.uploadFileName = 'files';
        remarksEditer.customConfig.pasteFilterStyle = false;
        remarksEditer.customConfig.uploadImgMaxLength = 5;
        remarksEditer.customConfig.uploadImgMaxSize = 10 * 1024 * 1024 // 10M
        remarksEditer.customConfig.uploadImgParams = {
            flag : 'remarks'
        };
        remarksEditer.customConfig.menus = [
            'head', 'bold', 'fontSize', 'italic', 'underline', 'strikeThrough', 'indent',
            'lineHeight', 'foreColor', 'backColor', 'link', 'list', 'todo', 'justify', 'quote', 'image',
            'table', 'code', 'splitLine', 'undo', 'redo'
        ];
        remarksEditer.customConfig.uploadImgHooks = {
            // 上传超时
            timeout: function (xhr, editor) {
                layer.msg('上传超时！')
            },
            // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
            customInsert: function (insertImg, result, editor) {
                if (result.code == 0) {
                    var data = result.data;
                    for (let i = 0; i < data.length; i++) {
                        insertImg(data[i].url);
                    }
                } else {
                    layer.msg(result.message,{icon : 2});
                }
            }
        };
        remarksEditer.customConfig.customAlert = function (info) {
            layer.msg(info);
        };
        remarksEditer.create();

        //表单提交
        form.on('submit(operate)', function (data) {
            $.ajax({
                type: "POST",
                url: basePath + "/task/completeTask",
                data: {
                    taskId : currTaskId,
                    variables : data.field
                },
                success: function (result) {
                    if(result.code === 0){
                        layer.msg("处理隐患成功！",{icon: 1});
                        layer.close(layerIndex);
                        parent.layui.table.reload('currentTableId');
                    }
                    else{
                        layer.msg(result.message,{icon: 2});
                    }
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员',{icon: 2});
                }
            });
            return false;
        });

        $("#editTaskBtn").click(function (){
            $("#name").val($("#title").text());
            $("#type").val($("#typeName").text());
            $("#priority").val($("#priorityDiv").text())
            taskEditer.txt.html($("#description").html());
            form.render();
            var index = layer.open({
                title: '修改隐患',
                type: 1,
                area: ['800px', '500px'],
                content: $("#editTask"),
                btn: ['提交'],
                btnAlign: 'c',
                skin: 'btnStyle',
                yes: function(data){
                    $.ajax({
                        type: "POST",
                        url: basePath + "/task/updateProblem",
                        data: {
                            id : [[${problemId}]],
                            name : $("#name").val(),
                            priority : $("#priority").val(),
                            description : taskEditer.txt.html()
                        },
                        success: function (result) {
                            if(result.code === 0){
                                localStorage.setItem('taskTable',generateUUID());
                                location.reload();
                            }
                            else{
                                layer.msg(result.message,{icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误，请联系系统管理员',{icon: 2});
                        }
                    });
                    return false;
                }
            });
        });

        $(".picture").delegate("img","click",function(){
            var target = $(event.target);
            var index = layer.open({
                title: '图片查看',
                type: 1,
                shade: 0.2,
                maxmin:true,
                shadeClose: true,
                area: ['100%', '100%'],
                content: '<div style="text-align: center;margin-top: 50px"><img src="'+ target.attr("src") +'" style="width: 60%;"/></div>'
            });
        });

        $("#addRemarks").click(function (){
            remarksEditer.txt.html("");
            var index = layer.open({
                title: '添加备注',
                type: 1,
                area: ['850px', '350px'],
                content: $("#remarksForm"),
                btn: ['提交'],
                btnAlign: 'c',
                skin: 'btnStyle',
                yes: function(data){
                    $.ajax({
                        type: "POST",
                        url: basePath + "/task/addRemarks",
                        data: {
                            problemId : [[${problemId}]],
                            remark : remarksEditer.txt.html()
                        },
                        success: function (result) {
                            if(result.code === 0){
                                location.reload();
                            }
                            else{
                                layer.msg(result.message,{icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误，请联系系统管理员',{icon: 2});
                        }
                    });
                    return false;
                }
            })
        });
    });

    function createRemarksDiv(data){
        remarksList.push(data);
        return '<div class="layui-row grid-demo grid-demo-bg1" style="border-radius:16px;border: #F2F2F2 8px solid;margin-bottom: 10px;">' +
            '      <div class="layui-col-md11" style="margin-top: 8px;padding-left: 8px">\n' +
                        data.context +
            '      </div>' +
            '      <div class="layui-col-md1" style="margin-top: 10px">' +
            '           <a class="button1Link" onclick="editRemarks()" style="margin-left:10px;margin-right: 10px;color: #1e88e5;font-size: 15px;cursor: pointer">' +
            '               <i class="fa fa-edit" remarkid="' + remarksList.length + '"></i>' +
            '           </a>' +
            '           <a class="button2Link" onclick="deleteRemarks()" style="color: #ff3d3d;font-size: 15px;cursor: pointer">' +
            '               <i class="fa fa-trash-o" remarkid="' + remarksList.length + '"></i>' +
            '           </a>' +
            '      </div>' +
            '      <div class="layui-col-md12" style="color: grey;margin: 5px 15px 5px 0;padding-right:5px;font-size: 15px;text-align: right">' +
            '           <i class="fa fa-clock-o"></i>&nbsp;' +
                            layui.util.toDateString(data.modify, 'yyyy-MM-dd HH:mm:ss') + '&nbsp;By&nbsp;' +
            '           <a class="nameLink" onclick="userLinkClick()" userid="' + data.userId + '">'+
                            data.username + '(' + data.email + ')  ' +
            '           </a>'+
            '      </div>' +
            '    </div>'
    }

    function userLinkClick() {
        var target = $(event.target);
        $.ajax({
            type: "GET",
            url: basePath + "/user/getUserById/" + target.attr("userid"),
            success: function (result) {
                console.log(result);
                $("#userTipName").html(result.username);
                $("#userTipRole").html(result.role.name);
                $("#userTipEmail").html(result.email);
                $("#userTipPhone").html(result.phone);
                $("#userTipRemark").html(result.remark);
                var index = layer.open({
                    title: '用户信息',
                    type: 1,
                    area: ['300px', '300px'],
                    content: $("#userTip"),
                })
            },
            error: function () {
                layer.msg('系统错误，请联系系统管理员',{icon: 2});
            }
        });
    }

    function editRemarks() {
        var target = $(event.target);
        remarksEditer.txt.html(remarksList[target.attr("remarkid") - 1].context);
        var index = layer.open({
            title: '修改备注',
            type: 1,
            area: ['850px', '350px'],
            content: $("#remarksForm"),
            btn: ['提交'],
            btnAlign: 'c',
            skin: 'btnStyle',
            yes: function(data){
                $.ajax({
                    type: "POST",
                    url: basePath + "/task/updateRemarks",
                    data: {
                        id : remarksList[target.attr("remarkid") - 1].id,
                        context : remarksEditer.txt.html()
                    },
                    success: function (result) {
                        if(result.code === 0){
                            location.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
                return false;
            }
        })
    }

    function deleteRemarks() {
        var target = $(event.target);
        layer.confirm('你确定要删除该备注吗?', {icon: 3, title: '提示'}, function (index) {
            $.ajax({
                type: "POST",
                url: basePath + "/task/deleteRemarks",
                data: {
                    infoId: remarksList[target.attr("remarkid") - 1].id
                },
                success: function (result) {
                    if (result.code === 0) {
                        location.reload();
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员', {icon: 2});
                }
            });
            layer.close(index);
        })
    }

    function task() {
        var target = $(event.target);
        var data = initData[target.val()];
        //保存当前点击的任务id
        currTaskId = data.taskId;

        $("#variables").empty();
        for (var index = 0;index < data.variables.length;index++){
            var dataTmp = data.variables[index];
            //二元型流程变量
            if(dataTmp.type === 1){
                var input_html =
                    '<div class="layui-form-item">\n' +
                    '    <label class="layui-form-label">' + dataTmp.title + '</label>\n' +
                    '    <div class="layui-input-block">\n' +
                    '        <input type="radio" name="'+ dataTmp.name +'" value="1" title="'+ dataTmp.tip1 +'" checked="">\n' +
                    '        <input type="radio" name="'+ dataTmp.name +'" value="0" title="'+ dataTmp.tip0 +'">\n' +
                    '    </div>\n' +
                    '</div>';
                $("#variables").append(input_html);
                form.render();
            }
            //连续型流程变量
            else if(dataTmp.type === 2){
                var input_html =
                    '<div class="layui-form-item">\n' +
                    '   <label class="layui-form-label">'+ dataTmp.title + ':</label>\n' +
                    '   <div class="layui-input-block">\n' +
                    '       <input type="text" name="' + dataTmp.name + '" placeholder="' + dataTmp.title
                    + '" class="layui-input" lay-verify="required" lay-reqtext="请输入'+ dataTmp.title +'" />\n' +
                    '   </div>\n' +
                    '</div>';
                $("#variables").append(input_html);
            }
        }
        layerIndex = layer.open({
            title: target.text(),
            type: 1,
            area: ['450px', '240px'],
            content: $("#operateTask"),
            cancel: function(layero,index){
                $("#reset").click();
            }
        });
    }
</script>
</body>
</html>