<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
    <style>
        .layui-form-select dl { max-height:120px; }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <!--搜索框-->
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">角色</label>
                            <div class="layui-input-inline">
                                <select class="layui-form-select" name="role" id="roleSearch" lay-verify="" lay-search>
                                    <option value="" selected>请选择(可搜索)</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">账号状态</label>
                            <div class="layui-input-inline">
                                <select class="layui-form-select" name="live" id="liveSearch" lay-verify="">
                                    <option value="" selected>请选择</option>
                                    <option value="1">已激活</option>
                                    <option value="0">冻结中</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <!--工具栏-->
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
            </div>
        </script>

        <!--表格-->
        <table class="layui-hide" id="userTable" lay-filter="userTableFilter"></table>

        <!--操作栏-->
        <script type="text/html" id="currentTableBar">
            {{#  if(d.role.question == 1){ }}
            <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="active">分配隐患</a>
            {{#  } }}
            <a class="layui-btn layui-btn-warm layui-btn-xs data-count-edit" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

        <!--用户状态栏-->
        <script type="text/html" id="userState">
            {{#  if(d.live == 0){ }}
            <a class="layui-btn layui-btn-xs" lay-event="active">激活</a>
            {{#  } else { }}
            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="frozen">冻结</a>
            {{#  } }}
        </script>

        <!--用户新增、修改表单-->
        <form id="operateUser" class="layui-form" style="display: none">
            <div class="layui-form-item" style="margin-top: 20px">
                <label class="layui-form-label">用户角色<span style="color: red"> *</span></label>
                <div class="layui-input-block" style="width: 300px;">
                    <select class="layui-form-select" name="role" id="role" lay-verify="" lay-search>
                        <option value="" selected>请选择(可搜索)</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item" style="margin-top: 10px">
                <label class="layui-form-label">用户邮箱<span style="color: red"> *</span></label>
                <div class="layui-input-block" style="width: 300px;">
                    <input type="text" name="email" id="email" lay-verify="required" lay-reqtext="请输入用户邮箱" placeholder="用户邮箱"
                           autocomplete="off" style="width: 225px;display: inline-block" class="layui-input"> @163.com
                </div>
            </div>

            <div class="layui-form-item" style="margin-left: 70px">
                <div class="layui-input-block">
                    <button class="layui-btn" id="submit" style="padding: 0 20px" lay-submit="" lay-filter="operate">提交
                    </button>
                    <button type="reset" id="reset" style="visibility: hidden" class="layui-btn">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/url.js}"></script>
<script th:inline="none">
    layui.use(['form', 'table', 'layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
            layer = layui.layer;

        var currPage = 1;
        var res = 1;
        var currObj;
        var flag = 0;

        //动态生成角色下拉框
        $.ajax({
            url: basePath + "/role/getAllRole",    //后台数据请求地址
            type: "GET",
            success: function(result){
                for (var index = 0;index < result.length;index++){
                    var dataTmp = result[index];
                    $('#role').append(new Option(dataTmp.name,dataTmp.id));//往下拉菜单里添加元素
                    $('#roleSearch').append(new Option(dataTmp.name,dataTmp.id));//往下拉菜单里添加元素
                }
                form.render();
            }
        });

        var userTable = table.render({
            elem: '#userTable',
            url: basePath + '/user/getUser',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: "numbers", width: 50},
                {field: 'email', title: '邮箱'},
                {field: 'name', title: '角色', templet:
                        "<div>{{d.role.name}}</div>"
                },
                {field: 'create', title: '创建时间', templet:
                        "<div>{{layui.util.toDateString(d.create, 'yyyy-MM-dd HH:mm:ss')}}</div>"
                },
                {title: '账号状态修改', width: 120, toolbar: '#userState', align: "center"},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function (rest, curr) {
                currPage = curr;
                res = rest;
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);

            //执行搜索重载
            table.reload('userTable', {
                page: {
                    curr: 1
                },
                where: data.field
            });

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(userTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                flag = 0;
                var index = layer.open({
                    title: '添加用户',
                    type: 1,
                    area: ['450px', '240px'],
                    content: $("#operateUser"),
                    cancel: function(layero,index){
                        $("#reset").click();
                    }
                });
            }
        });


        table.on('tool(userTableFilter)', function (obj) {
            currObj = obj;
            var data = obj.data;
            if (obj.event === 'edit') {
                flag = 1;
                $("#role").val(obj.data.role.id);
                var email = obj.data.email;
                $("#email").val(email.substr(0, email.length - 8));
                $("#email").attr("disabled",true);
                form.render();
                var index = layer.open({
                    title: '修改用户',
                    type: 1,
                    area: ['450px', '240px'],
                    content: $("#operateUser"),
                    cancel: function(layero,index){
                        $("#email").removeAttr("disabled");
                        $("#reset").click();
                    }
                });
            } else if (obj.event === 'delete') {
                layer.confirm('你确定要删除该用户吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "POST",
                        url: basePath + "/user/deleteUser",
                        data: {
                            id : data.id
                        },
                        success: function (result) {
                            if(result.code === 0){
                                layer.msg("删除用户成功！",{icon: 1});
                                userTable.reload({
                                    page :{
                                        curr : currPage
                                    }
                                });
                            }
                            else{
                                layer.msg(result.message,{icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误，请联系系统管理员',{icon: 2});
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'active'){
                $.ajax({
                    type: "POST",
                    url: basePath + "/user/userState",
                    data: {
                        id : obj.data.id,
                        live : 1
                    },
                    success: function (result) {
                        if(result.code === 0){
                            layer.msg("激活用户成功！",{icon: 1});
                            userTable.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            } else if (obj.event === 'frozen'){
                $.ajax({
                    type: "POST",
                    url: basePath + "/user/userState",
                    data: {
                        id : obj.data.id,
                        live : 0
                    },
                    success: function (result) {
                        if(result.code === 0){
                            layer.msg("冻结用户成功！",{icon: 1});
                            userTable.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            }
        });

        //表单提交
        form.on('submit(operate)', function (data) {
            if($("#role").val() === ""){
                layer.msg("请选择角色!",{icon: 2});
                return false;
            }
            //新增提交
            if(flag === 0){
                $.ajax({
                    type: "POST",
                    url: basePath + "/user/addUser",
                    data: {
                        email : data.field.email + "@163.com",
                        role : data.field.role
                    },
                    success: function (result) {
                        if(result.code === 0){
                            layer.closeAll();
                            $("#reset").click();
                            layer.msg("新增用户成功！",{icon: 1});
                            userTable.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            }
            //修改提交
            else if(flag === 1){
                $.ajax({
                    type: "POST",
                    url: basePath + "/user/updateUser",
                    data: {
                        id : currObj.data.id,
                        role : data.field.role
                    },
                    success: function (result) {
                        if(result.code === 0){
                            layer.closeAll();
                            $("#email").removeAttr("disabled");
                            $("#reset").click();
                            layer.msg("修改用户成功！",{icon: 1});
                            userTable.reload({
                                page : {
                                    curr : currPage
                                }
                            });
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            }
            return false;
        });

    });
</script>

</body>
</html>