<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hkb.hdms.mapper.TaskMapper">
    <select id="getTodoInstances" resultType="com.hkb.hdms.model.pojo.Problem">
        select distinct P.*
        from ACT_RU_TASK RES inner join ACT_RU_IDENTITYLINK I on I.TASK_ID_ = RES.ID_
        inner join hdms_problem P on RES.PROC_INST_ID_ = P.instance_id
        WHERE RES.ASSIGNEE_ is null and I.TYPE_ = 'candidate' and I.USER_ID_ = #{email}
        ORDER BY P.modify DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getTodoCount" resultType="Long">
        select COUNT(distinct RES.PROC_INST_ID_)
        from ACT_RU_TASK RES inner join ACT_RU_IDENTITYLINK I on I.TASK_ID_ = RES.ID_
        WHERE RES.ASSIGNEE_ is null and I.TYPE_ = 'candidate' and I.USER_ID_ = #{email}
    </select>

    <select id="getHistoryInstances" resultType="com.hkb.hdms.model.pojo.Problem">
        select distinct P.*
        from ACT_HI_TASKINST RES inner join ACT_HI_IDENTITYLINK HI on HI.TASK_ID_ = RES.ID_
        inner join ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
        inner join hdms_problem P on RES.PROC_INST_ID_ = P.instance_id
        WHERE HPI.END_TIME_ is not null and RES.ASSIGNEE_ is null
        <if test="begin != null and begin != ''">
            and P.modify &gt;= #{begin}
        </if>
        <if test="end != null and end != ''">
            and P.modify &lt;= #{end}
        </if>
        <if test="name != null and name != ''">
            and P.name like #{name}
        </if>
        <if test="priority != null and priority != ''">
            and P.priority = #{priority}
        </if>
        and HI.TYPE_ = 'candidate' and HI.USER_ID_ = #{email}
        ORDER BY P.modify DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getHistoryCount" resultType="Long">
        select COUNT(distinct RES.PROC_INST_ID_)
        from ACT_HI_TASKINST RES inner join ACT_HI_IDENTITYLINK HI on HI.TASK_ID_ = RES.ID_
            inner join ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
            inner join hdms_problem P on RES.PROC_INST_ID_ = P.instance_id
        WHERE HPI.END_TIME_ is not null and RES.ASSIGNEE_ is null
        <if test="begin != null and begin != ''">
            and P.modify &gt;= #{begin}
        </if>
        <if test="end != null and end != ''">
            and P.modify &lt;= #{end}
        </if>
        <if test="name != null and name != ''">
            and P.name like #{name}
        </if>
        <if test="priority != null and priority != ''">
            and P.priority = #{priority}
        </if>
        and HI.TYPE_ = 'candidate' and HI.USER_ID_ = #{email}
    </select>

    <select id="getSolveingInstances" resultType="com.hkb.hdms.model.pojo.Problem">
        select distinct P.*
        from ACT_HI_TASKINST RES inner join ACT_HI_IDENTITYLINK HI on HI.TASK_ID_ = RES.ID_
        inner join ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
        inner join hdms_problem P ON RES.PROC_INST_ID_ = P.instance_id
        WHERE HPI.END_TIME_ is null and RES.ASSIGNEE_ is null and HI.TYPE_ = 'candidate' and HI.USER_ID_ = #{email}
        and NOT EXISTS(
        select RT.PROC_INST_ID_
        from ACT_RU_TASK RT inner join ACT_RU_IDENTITYLINK I on I.TASK_ID_ = RT.ID_
        WHERE RT.ASSIGNEE_ is null and I.TYPE_ = 'candidate' and I.USER_ID_ = #{email}
        and RT.PROC_INST_ID_ = RES.PROC_INST_ID_)
        ORDER BY P.modify DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getSolveingCount" resultType="Long">
        select COUNT(distinct RES.PROC_INST_ID_)
        from ACT_HI_TASKINST RES inner join ACT_HI_IDENTITYLINK HI on HI.TASK_ID_ = RES.ID_
        inner join ACT_HI_PROCINST HPI ON RES.PROC_INST_ID_ = HPI.ID_
        WHERE HPI.END_TIME_ is null and RES.ASSIGNEE_ is null and HI.TYPE_ = 'candidate' and HI.USER_ID_ = #{email}
        and NOT EXISTS(
        select RT.PROC_INST_ID_
        from ACT_RU_TASK RT inner join ACT_RU_IDENTITYLINK I on I.TASK_ID_ = RT.ID_
        WHERE RT.ASSIGNEE_ is null and I.TYPE_ = 'candidate' and I.USER_ID_ = #{email}
          and RT.PROC_INST_ID_ = RES.PROC_INST_ID_)
    </select>

    <delete id="deleteHiUsers">
        delete from ACT_HI_IDENTITYLINK where ( TASK_ID_ = #{taskId} or PROC_INST_ID_ = #{instanceId} )
    </delete>

    <delete id="deleteRuUsers">
        delete from ACT_RU_IDENTITYLINK where ( TASK_ID_ = #{taskId} or PROC_INST_ID_ = #{instanceId} )
    </delete>
</mapper>