*, *:after, *:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
}
html, body { height: 100%; }
body.pop {
	overflow: hidden;
}

section {
	width: 100%;
	height: 100%;
	padding: 10px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #ccc;
	transition: 0.3s linear;
}
section:nth-child(2n+1) {
	background: rgba(0, 0, 0, 0.1);
}
section:hover {
	background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
	section {
		width: 50%;
	}
}
@media (max-width: 480px) {
	section {
		width: 100%;
	}
}

.loader-113 {
	color: #FFF;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 48px;
	letter-spacing: 4px;
}
.loader-113::before {
	content: "";
	position: absolute;
	right: 70px;
	bottom: 10px;
	height: 28px;
	width: 5.15px;
	background: currentColor;
	-webkit-animation: animloader113L 1s linear infinite alternate;
	animation: animloader113L 1s linear infinite alternate;
}
.loader-113::after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 125px;
	top: 2px;
	border-radius: 50%;
	background: red;
	-webkit-animation: animloader113 1s linear infinite alternate;
	animation: animloader113 1s linear infinite alternate;
}

.load{
	width: 100%;
	background: #263238;
	height:100%;
	position: absolute;
	z-index:99999
}

.loadComplete{
	display: none;
}

@-webkit-keyframes animloader113 {
	0% {
		transform: translate(0px, 0px) scaleX(1);
	}
	14% {
		transform: translate(-12px, -16px) scaleX(1.05);
	}
	28% {
		transform: translate(-27px, -28px) scaleX(1.07);
	}
	42% {
		transform: translate(-46px, -35px) scaleX(1.1);
	}
	57% {
		transform: translate(-70px, -37px) scaleX(1.1);
	}
	71% {
		transform: translate(-94px, -32px) scaleX(1.07);
	}
	85% {
		transform: translate(-111px, -22px) scaleX(1.05);
	}
	100% {
		transform: translate(-125px, -9px) scaleX(1);
	}
}