<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>隐患管理系统登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" media="all">
    <script th:src="@{/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
</head>
<body>
<div style="padding-top:120px">
    <div class="login-wrap">
        <div class="login-html">
            <div class="title">
                <h1>安全隐患管理系统</h1>
            </div>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                     class="tab">邮箱登录</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">密码登录</label>
            <div class="login-form">
                <form class="sign-in-htm" method="post" th:action="@{/login/email}">
                    <div class="group">
                        <label for="toMail" class="label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                        <input id="toMail" name="toMail" type="text" class="input" style="width: 240px"
                               value="1216033824"><span style="color: #FFFFFF;font-size: 18px">@163.com</span>
                    </div>
                    <div class="group">
                        <label for="code" class="label">验证码</label>
                        <input id="code" name="code" type="text" class="input" style="width: 110px">
                        <button class="button" type="button" style="width: 220px;cursor: pointer" id="sendCode">发送验证码
                        </button>
                    </div>
                    <div class="group" hidden>
                        <input id="check" type="checkbox" name="remember" class="check" checked>
                        <label for="check"><span class="icon"></span>记住我</label>
                    </div>
                    <div style="text-align: center;color: red;font-size: 18px" th:if="${param.error1}"
                         th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
                    <div class="group" style="padding-top: 20px">
                        <input type="submit" class="button" style="cursor: pointer;" value="登&nbsp;录">
                    </div>
                </form>
                <form class="sign-up-htm" method="post" th:action="@{/login/password}">
                    <div class="group">
                        <label for="username" class="label">邮箱</label>
                        <input id="username" name="username" type="text" class="input" style="width: 250px"
                               value="1216033824"><span style="color: #FFFFFF;font-size: 18px">@163.com</span>
                    </div>
                    <div class="group">
                        <label for="password" class="label">密码</label>
                        <input id="password" name="password" type="password" class="input" data-type="password"
                               style="width: 350px" value="123456">
                    </div>
                    <div class="group" hidden>
                        <input id="check" type="checkbox" name="remember" class="check" checked>
                        <label for="check"><span class="icon"></span>记住我</label>
                    </div>
                    <div style="text-align: center;color: red;font-size: 18px" th:if="${param.error2}"
                         th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
                    <div class="group" style="padding-top: 20px">
                        <input type="submit" class="button" style="cursor: pointer;" value="登&nbsp;录">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['layer'], function () {
        let layer = layui.layer;

        $("#sendCode").click(function () {
            let toMail = $("#toMail").val();
            $.ajax({
                type: "GET",
                url: "http://localhost:8706/hdms/login/validateCode/" + toMail,
                success: function (result) {
                    layer.msg('验证码发送成功!');
                    content = $("#sendCode").html();
                    time();
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员');
                }
            });
        })

        let wait = 60;
        let content = "发送验证码"

        function time(o) {
            if (wait === 0) {
                $("#sendCode").removeAttr("disabled");
                $("#sendCode").html(content);
                wait = 60;
            } else {
                $("#sendCode").attr("disabled", true);
                $("#sendCode").html(wait + "秒后可以重新发送");
                wait--;
                setTimeout(() => {
                    time(o)
                }, 1000);
            }
        }
    })
</script>
</body>
</html>