<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>隐患管理系统登录</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" media="all">
    <script th:src="@{/layuimini/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/url.js}"></script>
</head>
<body>
<div style="padding-top:150px">
    <div class="login-wrap">
        <div class="login-top">
            <span>安全隐患管理系统</span>
            <span class="bg1"></span>
            <span class="bg2"></span>
        </div>
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                                                                     class="tab">邮箱登录</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">密码登录</label>
            <div class="login-form">
                <form class="sign-in-htm" method="post" th:action="@{/login/email}">
                    <div class="group">
                        <label for="toMail" class="label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                        <input id="toMail" name="toMail" type="text" class="input" style="width: 240px"
                               placeholder="请输入登录邮箱" autocomplete="off"><span style="color: #000000;font-size: 16px">@163.com</span>
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <label for="code" class="label">验证码</label>
                        <input id="code" name="code" type="text" class="input" autocomplete="off" style="width: 110px"
                               placeholder="验证码">
                        <button class="button" type="button"
                                style="line-height:15px;height:40px;width: 220px;cursor: pointer" id="sendCode">发送验证码
                        </button>
                    </div>
                    <div class="hrCode"></div>
                    <div class="group" hidden>
                        <input id="check" type="checkbox" name="remember" class="check" checked>
                        <label for="check"><span class="icon"></span>记住我</label>
                    </div>
                    <div id="tip1" style="text-align: center;color: red;font-size: 18px" th:if="${param.error1}"
                         th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
                    <div class="group" style="padding-top: 20px">
                        <input type="submit" class="button" style="cursor: pointer;" value="登&nbsp;录">
                    </div>
                </form>
                <form class="sign-up-htm" method="post" th:action="@{/login/password}">
                    <div class="group">
                        <label for="username" class="label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                        <input id="username" name="username" type="text" class="input" style="width: 240px"
                               placeholder="请输入登录邮箱" autocomplete="off"><span style="color: #000000;font-size: 16px">@163.com</span>
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <label for="password" class="label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                        <input id="password" name="password" type="password" class="input" data-type="password"
                               style="width: 330px" autocomplete="off" placeholder="请输入密码">
                    </div>
                    <div class="hrPass"></div>
                    <div class="group" hidden>
                        <input id="check" type="checkbox" name="remember" class="check" checked>
                        <label for="check"><span class="icon"></span>记住我</label>
                    </div>
                    <div id="tip2" style="text-align: center;color: red;font-size: 18px" th:if="${param.error2}"
                         th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
                    <div class="group" style="padding-top: 20px">
                        <input type="submit" class="button" style="cursor: pointer;" value="登&nbsp;录">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['layer'], function () {
        let layer = layui.layer;

        if ($("#tip1").html() === undefined && $("#tip2").html() !== undefined) {
            $("#tab-1").removeAttr("checked");
            $("#tab-2").attr("checked", true);
        }

        $("#sendCode").click(function () {
            let toMail = $("#toMail").val();
            $.ajax({
                type: "GET",
                url: basePath + "/login/validateCode/" + toMail,
                success: function (result) {
                    if (result.code == 0) {
                        layer.msg('验证码发送成功!', {icon: 1});
                        content = $("#sendCode").html();
                        time();
                    } else {
                        layer.msg(result.message, {icon: 2});
                    }
                },
                error: function () {
                    layer.msg('系统错误，请联系系统管理员', {icon: 2});
                }
            });
        })

        let wait = 60;
        let content = "发送验证码"

        function time(o) {
            if (wait === 0) {
                $("#sendCode").removeAttr("disabled");
                $("#sendCode").html(content);
                wait = 60;
            } else {
                $("#sendCode").attr("disabled", true);
                $("#sendCode").html(wait + "秒后可以重新发送");
                wait--;
                setTimeout(() => {
                    time(o)
                }, 1000);
            }
        }
    })
</script>
</body>
</html>