<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <script type="text/html" id="toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"> 添加</button>
            </div>
        </script>

        <table class="layui-hide" id="roleTable" lay-filter="roleTableFilter"></table>

        <script type="text/html" id="roleTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="update">授权</a>
            <a class="layui-btn layui-btn-warm layui-btn-xs data-count-edit" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        </script>

    </div>

    <!--角色新增、修改表单-->
    <form id="operateRole" class="layui-form" style="display: none">
        <div class="layui-form-item" style="margin-top: 20px">
            <label class="layui-form-label">角色名称<span style="color: red"> *</span></label>
            <div class="layui-input-block" style="width: 300px;">
                <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="请输入角色名称" placeholder="角色名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">问题分配<span style="color: red"> *</span></label>
            <div class="layui-input-block" style="width: 300px;">
                <select name="question" id="question">
                    <option value="1" selected>参与</option>
                    <option value="0">不参与</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色说明<span>&nbsp;&nbsp;</span></label>
            <div class="layui-input-block" style="width: 300px;">
                <input type="text" name="description" id="description" placeholder="角色说明" autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 70px">
            <div class="layui-input-block">
                <button class="layui-btn" id="submit" style="padding: 0 20px" lay-submit="" lay-filter="operate">提交
                </button>
                <button type="reset" id="reset" style="visibility: hidden" class="layui-btn">重置</button>
            </div>
        </div>
    </form>

    <div id="menuTreeDiv" style="display: none">
        <div id="menuTree" class="demo-tree demo-tree-box" style="margin-bottom: 80px"></div>

    </div>
</div>
<script th:src="@{/layuimini/lib/layui-v2.5.5/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/url.js}"></script>
<script th:inline="none">
    layui.use(['form', 'table','tree'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;
        tree = layui.tree;

        var currObj;

        var flag = 0;

        var roleTable = table.render({
            elem: '#roleTable',
            url: basePath + '/role/getRole',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports'],
            cols: [[
                {type: "numbers", width: 50},
                {field: 'name', title: '角色名称'},
                {field: 'description', title: '备注'},
                {field: 'question', title: '隐患类型分配', width:120, align: 'center', templet: function (d) {
                        if (d.question == 1) {
                            return '<span class="layui-badge" style="background-color:#19CAAD;">参与分配</span>';
                        } else {
                            return '<span class="layui-badge" style="background-color: #ECAD9E">不参与</span>';
                        }
                    }
                },
                {field: 'create', title: '创建时间', templet:
                        "<div>{{layui.util.toDateString(d.create, 'yyyy-MM-dd HH:mm:ss')}}</div>"
                },
                {title: '操作', minWidth: 180, toolbar: '#roleTableBar', align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            done: function (rest, curr) {
                if (curr > 1 && rest.data.length === 0) {
                    curr = curr - 1;
                    table.reload('roleTable', {
                        page: {
                            curr: curr
                        }
                    }, 'data');
                }
            }
        });

        var treeRender = function (){
            $.ajax({
                url: basePath + "/system/getMenuWithRole/" + currObj.data.id,    //后台数据请求地址
                type: "GET",
                success: function(result){
                    tree.render({
                        elem: '#menuTree',
                        data: result,
                        showCheckbox: true,  //是否显示复选框
                        id: 'menuTree',
                        isJump: false //是否允许点击节点时弹出新窗口跳转
                    });
                }
            });
        }
        /**
         * toolbar监听事件
         */
        table.on('toolbar(roleTableFilter)', function (obj) {
            // 监听添加操作
            if (obj.event === 'add') {
                flag = 0;
                var index = layer.open({
                    title: '添加角色',
                    type: 1,
                    area: ['450px', '280px'],
                    content: $("#operateRole"),
                    cancel: function(layero,index){
                        $("#reset").click();
                    }
                });
            }
        });

        table.on('tool(roleTableFilter)', function (obj) {
            currObj = obj;
            var data = obj.data;
            if (obj.event === 'edit') {
                //渲染数据
                $("#name").val(data.name);
                $("#description").val(data.description);
                $("#question").val(data.question);
                form.render();
                flag = 1;
                var index = layer.open({
                    title: '修改角色',
                    type: 1,
                    area: ['450px', '280px'],
                    content: $("#operateRole"),
                    cancel: function(layero,index){
                        $("#reset").click();
                    }
                });
            } else if (obj.event === 'delete') {
                layer.confirm('你确定要删除该角色吗?', {icon: 3, title: '提示'}, function (index) {
                    $.ajax({
                        type: "POST",
                        url: basePath + "/role/deleteRole",
                        data: {
                            id : data.id
                        },
                        success: function (result) {
                            if(result.code === 0){
                                layer.msg("删除角色成功！",{icon: 1});
                                roleTable.reload();
                            }
                            else{
                                layer.msg(result.message,{icon: 2});
                            }
                        },
                        error: function () {
                            layer.msg('系统错误，请联系系统管理员',{icon: 2});
                        }
                    });
                    layer.close(index);
                });
            } else if(obj.event === 'update'){
                treeRender();
                var index = layer.open({
                    title: '角色授权',
                    type: 1,
                    area: ['300px', '400px'],
                    content: $("#menuTreeDiv"),
                    btn: ['提交'],
                    btnAlign: 'c',
                    yes: function(){
                        var checkedId = getCheckedId(tree.getChecked("menuTree"));
                        $.ajax({
                            type: "POST",
                            url: basePath + "/role/roleToMenu",
                            data: {
                                roleId : currObj.data.id,
                                menuIds : checkedId
                            },
                            success: function (result) {
                                if(result.code === 0){
                                    layer.closeAll();
                                    layer.msg("角色授权成功！",{icon: 1});
                                }
                                else{
                                    layer.msg(result.message,{icon: 2});
                                }
                            },
                            error: function () {
                                layer.msg('系统错误，请联系系统管理员',{icon: 2});
                            }
                        });
                    }
                });
            }
            return false;
        });

        //表单提交
        form.on('submit(operate)', function (data) {
            //新增提交
            if(flag === 0){
                $.ajax({
                    type: "POST",
                    url: basePath + "/role/addRole",
                    data: data.field,
                    success: function (result) {
                        if(result.code === 0){
                            layer.closeAll();
                            $("#reset").click();
                            layer.msg("新增角色成功！",{icon: 1});
                            roleTable.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            }
            //修改提交
            else if(flag === 1){
                $.ajax({
                    type: "POST",
                    url: basePath + "/role/updateRole",
                    data: {
                        id : currObj.data.id,
                        name : data.field.name,
                        description : data.field.description,
                        question : data.field.question
                    },
                    success: function (result) {
                        if(result.code === 0){
                            layer.closeAll();
                            $("#reset").click();
                            layer.msg("修改角色成功！",{icon: 1});
                            roleTable.reload();
                        }
                        else{
                            layer.msg(result.message,{icon: 2});
                        }
                    },
                    error: function () {
                        layer.msg('系统错误，请联系系统管理员',{icon: 2});
                    }
                });
            }
            return false;
        });

        //获取tree选中的id
        function getCheckedId(jsonObj) {
            var id = "";
            $.each(jsonObj, function (index, item) {
                if (id != "") {
                    id = id + "," + item.id;
                }
                else {
                    id = item.id;
                }
                var i = getCheckedId(item.children);
                if (i != "") {
                    id = id + "," + i;
                }
            });
            return id;
        }

    });
</script>

</body>
</html>